.discuss-form-container {
    width: 100%;
    height: 100%;
    // z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .comment-block {
        // height: 100vh;
        width: 99%;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        .comments {
            background-color: white;
            max-height: 100%;
            height: 100vh;
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            padding: 30px;
            border-radius: 8px;
            position: relative;

            @media screen and (max-width: 600px) {
                padding: 1rem 0.7rem;
            }

            .comment-content {

                width: 100%;
                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }

                .Profile {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    gap: 15px;
                    padding-bottom: 1rem;
                    // border-bottom: 1px solid rgb(233, 230, 230);

                    a {
                        width: 30px;
                        height: 30px;

                        @media screen and (max-width: 600px) {
                            width: 50px;
                            height: 50px;
                        }
                    }

                    img {
                        border-radius: 50%;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    color: rgb(0, 0, 0);
                    font-size: 18px;
                    border-bottom: 2px solid rgb(164, 163, 163);
                    padding-bottom: 0.5rem;
                    
                    // margin-top: 2rem;
                    // padding-right: 50px;

                    @media screen and (max-width: 600px) {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .comment-details {
                    // margin-top: 20px;
                    text-align: left;
                    font-size: 12px;
                    color: #3e525b;
                }
            }

            .comment-box-container {
                margin-top: 30px;

                .comments-sections {
                    display: flex;
                    flex-direction: column;

                    .comments-section-heading {
                        border-bottom: 1px solid rgba(203, 201, 201, 0.28);
                        border-top: 1px solid rgba(203, 201, 201, 0.28);
                        font-size: 1.2rem;
                        font-weight: 500;
                        padding: 8px;
                        text-align: left;
                        background-color: rgb(229 229 229 / 28%);
                    }

                    .comment-form {
                        margin: 30px;
                        position: relative;

                        textarea {
                            width: 100%;
                            height: 150px;
                            font-size: 16px;
                            border: 1px solid rgb(188, 187, 187);
                            resize: none;
                        }

                        .btn-comment {
                            width: 10vh;
                            height: 5vh;
                            border: none;
                            position: absolute;
                            bottom: 9px;
                            right: 0;
                            background: linear-gradient(215deg, #09acf7, #33464f);
                            color: #fafafa;
                            cursor: pointer;
                        }
                    }

                    .reactions-container {
                        margin-top: 20px;

                        .reactions {
                            margin-bottom: 15px;

                            .profile-info {
                                border-radius: 50%;
                                object-fit: cover;
                                display: flex;
                                align-items: center;
                                padding: 5px;
                                gap: 15px;

                                img {
                                    border-radius: 50%;
                                    object-fit: cover;
                                    width: 50px;
                                    height: 50px;
                                }

                                .username,
                                .last-updated {
                                    font-size: 1rem;
                                    font-weight: 400;
                                    color: #858d91;
                                }
                            }

                            .reaction-description {
                                font-size: 1.1rem;
                                font-weight: 450;
                                color: #3e525b;
                                text-align: left;
                                padding-left: 75px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// classComponent scss

.example-div {
    .example-row {
        div {
            .overlay {
                padding: 0;

                .comment-title {
                    font-size: 1rem;
                    background: #f4f4f4;
                    // border-bottom: 1px solid lightgrey;
                    border-top: 1px solid lightgrey;
                }
            }

            div {
                .form {
                    padding: 16px;

                    .userImg {
                        a {
                            .imgdefault {
                                width: 38px;
                                height: auto;
                                border-radius: 50%;
                            }
                        }
                    }

                    .postBtn {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
