.tab-pane{
    background-color: #fff;
    color: #3f3e3e;

    .row-division {
        display: flex;
        // flex-wrap: wrap;
        width: 100%;

        .left-pane {
            max-width: 30%;
            padding: 15px;
            border-right: 1px solid #dee2e6;

            .title {
                font-size: 1.4rem;
                margin-bottom: 10px;
            }

            .hobbies-container {
                margin-bottom: 20px;

                .hobbies-list, ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    padding-left: 0;

                    li{
                        float: left;
                        font-size: .9rem;
                        padding: 10px;
                        text-align: left;
                        width: 25.55%;
                    }
                    
                }
            }

            .reference-container {
                margin-top: 20px;
                font-size: 20px;

                p{
                    margin: 0;
                }
                b{
                    font-size: 20px;
                }

                span {
                    // display: block;
                    margin-top: 5px;
                }
            }
        }

        .right-panel {
            padding: 15px;
            max-width: 70%;

            .skills-container {
                margin-bottom: 20px;

                .title{
                    font-size: 24px;
                    text-align: left;
                }
                
                .skills-list{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    padding-left: 0;

                    li{
                        padding: 5px;
                        padding: 10px 30px;
                    }
                }
            }

            .links-container {
                padding: 0;
                            
                .hire-link{
                    display: flex;
                    gap: 15px;

                    li{
                        list-style: none;
                        margin-bottom: 10px;

                        a {
                            text-decoration: none;
                            color: #fff;
                            padding: 5px 10px;
                            background-color: #007bff;
                            border-radius: 3px;
                            display: inline-block;
    
                            &:hover {
                                background-color: #0056b3;
                            }
                        }
                    }
                }

                .social-link{
                    padding: 0;
                    margin-top: 10px;
    
                    li {
                        display: inline-block;
                        margin-right: 10px;
                        border-radius: 50%;
                        border: 1px solid #0056b3;
                        width: 30px;
                        height: 30px;
                        transition: 0.4s all ease-in;
    
                        a{
                            font-size: 22px;
                            color: #007bff;
                            cursor: pointer;
                            transition: 0.4s all ease-in;
    
                            &:hover {
                                color: #fff;
                            }
                        }

                        &:hover {
                            background-color: #0056b3;
                        }
                    }

                    .youtube:hover{
                        background-color: red;
                        border: 1px solid red;
                    }
                }
            }

            .jumbo-address {
                margin-top: 20px;

                .address-container {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    
                    .address-list{
                        border-collapse: collapse;
                        margin-bottom: 10px;
                        // flex: auto;

                        tr{
                            text-align: left;
                            border-left: 1px solid #CCC;

                            td{
                                padding: 13px 10px;
                                border: 1px solid #CCC;
                                width: 120px;
                                
                            }

                            th{
                                border-top: 1px solid #CCC;
                                border-bottom: 1px solid #CCC;
                                padding: 13px 10px;
                                width: 120px;

                            }
                        }
                    }

                    th, td {
                        padding: 10px;
                    }
                }
            }
        }
    }
}


.tab-content{
    .tab-pane {
         display: block;
    }
}