.Chat {
  // position: relative;
  display: flex;
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  height: auto;
  // overflow: scroll;
  width: 100%;
  @media screen and (max-width:768px) {
    min-height: 90vh;
  }
}

.Chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


