$title-color: #080808;
$reserve-bg-color: black;
$reserve-hover-bg-color: #680e4c;
$reserve-hover-text-color: white;
$button-bg-color: #318ef3;
$button-hover-bg-color: wheat;
$button-hover-text-color: black;

.question-body {
  padding-bottom: 20px;
  .question-heading {
    padding: 35px;
    // background-color: #340926;
    background-image: linear-gradient(171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);
    box-shadow: 0px 1px 2px 2px;

    h2 {
      font-style: oblique;
      color: white;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      align-items: center;

      @media screen and (min-width: 800px) {
        font-size: 50px;
      }
    }

    p {
      color: white;
      font-family: "Times New Roman", Times, serif;
      text-align: justify;
      // align-items: center;

      @media screen and (min-width: 900px) {
        font-size: 30px;
      }
    }
    @media screen and (max-width: 900px) {
      padding-bottom: 35px;
      // padding-top: 100px;
    }
  }

  .question-form-container {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 3px 3px rgb(98, 98, 98);
    background: white;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    // border: 1px solid #ccc;
    padding: 20px;

    form {
      margin-top: 20px;
      margin-bottom: 20px;

      label {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-style: normal;
        font-size: 16px;
        color: #4f4e4e;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 8px;

        #company,
        #year,
        #branch,
        #link,
        #title,
        #difficulty {
          border: 2px solid #ddd;
          padding: 10px;
          border-radius: 4px;

          ::placeholder {
            color: #a8a8a8;
          }

          &:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }

        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
      }

      .btn-post {
        display: flex;
        justify-content: space-between;

        .close {
          border: 2px solid rgb(179, 179, 179);
          border-radius: 3px;
          padding: 6px;
          align-items: center;
          background-color: none;
          transition: all 0.5s ease-in;
          cursor: pointer;

          &:hover {
            background-color: rgb(179, 179, 179);
            font-weight: 450;
          }
        }
      }

      .question-btn {
        background-color: #{$button-bg-color};
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        outline: auto 2px;
        font-weight: bolder;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          // outline: auto 2px  #{$button-bg-color};

          box-shadow: 0px 3px 6px #{$button-bg-color};
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
}

// .question-title {
//   text-align: center;
//   margin-top: 85px;
//   color: $title-color;
//   font-style: oblique;
//   outline: 2px solid black;
//   margin-left: 20px;
//   margin-right: 20px;
// }



.question-body {
  &.show-confirmation {
    .confirmation-popup {
      opacity: 1;
    }
  }
}

// // text-editor of ckeditor
// .ck-content {
//   height: 35vh;
// }

// .ck .ck-reset .ck-editor .ck-rounded-corners{
//   .ck .ck-label .ck-voice-label{
//     display: none;
//   }
// }


//   #ck-editor__aria-label_e806be3e84279de8d6a495db2d1b76d63{
//     display: none;
//   }


