.experience {
  margin: 0 auto;

  .Experience-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    // row-gap: 12px;

    .experience-card {
      width: 430px;
      background: transparent linear-gradient(180deg, #e7effd 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 3px 6px #00000012;
      border-radius: 8px;
      margin-bottom: 1rem;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      .details {
        padding: 10px;
        text-align: left;

        @media screen and (max-width: 600px){
          font-size: 0.75rem;
        }
      }
    }

    // .modal {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba(0, 0, 0, 0.7);
    //   z-index: 1000;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   .modal-contents {
    //     background-color: white;
    //     max-height: 70%;
    //     overflow: hidden;
    //     overflow-y: auto;
    //     width: 90%;
    //     padding: 50px;
    //     border-radius: 8px;
    //     position: relative;

    //     @media screen and (max-width: 600px){
    //       padding: 15px;
    //     }
    //   }

    //   .close {
    //     position: absolute;
    //     top: 10px;
    //     right: 10px;
    //     cursor: pointer;
    //   }

    //   .expanded-details {
    //     margin-top: 20px;
    //     text-align: left;

    //     @media screen and (max-width: 600px){
    //       font-size: 0.8rem;
    //     }
    //   }
    // }

    .Profile {
      border-radius: 50%;
      object-fit: cover;
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 15px;

      @media screen and (max-width: 600px) {
        .image-container {
          width: 3.5rem;
          height: 3.5rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: brown;
        padding-right: 50px;

        @media screen and (max-width: 600px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.Profile {
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 15px;

  @media screen and (max-width: 600px) {
    .image-container {
      width: 3.5rem;
      height: 3.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: brown;
    padding-right: 50px;

    @media screen and (max-width: 600px) {
      font-size: 0.9rem;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-contents {
    background-color: white;
    max-height: 70%;
    overflow: hidden;
    overflow-y: auto;
    width: 90%;
    padding: 50px;
    border-radius: 8px;
    position: relative;

    @media screen and (max-width: 600px){
      padding: 15px;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .expanded-details {
    margin-top: 20px;
    text-align: left;

    @media screen and (max-width: 600px){
      font-size: 0.8rem;
    }
  }
}
