.forget-password-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 0%;

  .forget-password-step {
    margin-bottom: 20px;
    border-radius: 5px;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 30px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      text-align: left;
    }

    input {
      padding: 8px;
      width: 100%;
      font-size: 16px;
      height: 40px;
      padding: 24px 0 24px 10px;
      border-radius: 7px;
      outline: none;
      border: 1px solid#CFDBEC;
      background-color: #f5f9ff;
      filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
      transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);

      &:focus {
        border: 1px solid #4255fe;
        // box-shadow: 0px 0px 0px 2px #4255fe;
        background-color: #f5f9ff;
      }
    }

    button {
      margin-top: 30px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;
      font-size: 20px;
      border: 0;
      background: #4255fe;
      border-radius: 7px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: royalblue;
      }
    }
  }

  .send-verification-btn,
  .verify-code-btn,
  .reset-password-btn {
    margin-top: 10px;
  }

  .forget-password-step:nth-child(2) {
    animation: slideInRight 0.5s ease forwards;
    animation-delay: 0.3s;
  }

  .forget-password-step:nth-child(3) {
    animation: slideInRight 0.5s ease forwards;
    animation-delay: 0.3s;
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
