.forget-password-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
  
    .forget-password-step {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 93%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.3s ease;
  
        &:focus {
          border-color: dodgerblue;
          outline: none;
        }
      }
  
      button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: dodgerblue;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: royalblue;
        }
      }
    }
  
    .send-verification-btn,
    .verify-code-btn,
    .reset-password-btn {
      margin-top: 10px;
    }
  
    .forget-password-step:nth-child(2) {
      animation: slideInRight 0.5s ease forwards;
      animation-delay: 0.3s;
    }
  
    .forget-password-step:nth-child(3) {
      animation: slideInRight 0.5s ease forwards;
      animation-delay: 0.3s;
    }
  
    @keyframes slideInRight {
      from {
        opacity: 0;
        transform: translateX(100%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  