.home-page-container {
    background-image:  linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)),url(./home-page-header.jpg);
    background-size: cover;
    background-position: center;

    h2{
        font-size: 2.5rem
    }
    h1{
        font-size: 5rem;
    }

    p{
        font-size: 1.3rem;
    }
}

