.head-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .addexperience {
    margin-right: 8%;
    background: linear-gradient(215deg, #09acf7, #33464f);
    color: #fafafa;
    border-radius: 2px;
    border: 0;
    text-decoration: none;
    width: max-content;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: linear-gradient(215deg, #025f87, #33464f);
    }
  }
}
