.top-cover{
    padding: 15px;

    .profile-box{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0px;

        .cover-in{
            background-size: cover;
            width: 100%;

            .cover-row{
                background-color: rgba(0, 0, 0, 0.4);
                height: 100%;
                padding: 30px;
                display: flex;

                .user-img{
                    padding: 20px;
                    width:320px;

                    img{
                        border-radius: 50%;
                        background-color: #FFF;
                        max-width: 100%;
                        padding: 5px;
                        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                        margin: auto;
                    }
                }

                .user-bio{
                    padding: 20px;
                    padding-left: 10px;
                    margin: auto;
                    text-align: left;

                    h2{
                        font-weight: 700;
                        color: #FFF;
                        font-size: 2.2rem;
                    }

                    p{
                        color: #FFF;
                        font-size: 1.2rem;
                        font-weight: 400;
                        text-indent: 20px;
                    }

                }
            }
        }

        .nav-tabs{
            border-bottom: 1px solid #dee2e6;
            background-color: #FFF;

            .tab-list{
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;
                margin-bottom: 0;
                margin-top: 0;
                list-style: none;

                .nav-item{
                    // margin-bottom: -1px;
                    // color: #495057;
                    border-color: #dee2e6 #dee2e6 #fff;
                    border: 1px solid transparent;
                    display: block;
                    padding: 10px 60px;
                    cursor: pointer;
                    transition: 0.5s all ease-in;

                    .nav-link{
                        font-size: 1.2rem;
                        color: #495057;
                        text-decoration: none;
                    }

                    &:hover{
                        background-color: #f3f4f4;
                    }

                    &:active,
                    &:focus,
                    .nav-link:visited {
                        color: black;
                        border-bottom: 3px solid rgb(25, 154, 253);
                    }
                }
            }
        }
    }
}