.user-list {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    margin:10px;

    .filter-section {
        flex: none; 
        width: 250px;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        padding: 20px;
        background-color: #f9f9f9;
        overflow-y: auto;
        border-radius: .4rem;
        box-shadow: 2px 2px 16px -8px black;

        h2{
            text-transform: uppercase;
        }

        .filter-option {
            margin-bottom: 15px;
        
            label {
              display: block;
              margin-bottom: 5px;
              font-weight: bold;
            }
        
            select,
            input {
              width: 100%;
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 16px;
            }
          }
    }
  
    .user-cards {
      flex:1;
      // overflow-y: auto;
      margin:20px;
      // margin-left: 300px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      gap: 20px;
      
      .user-card {
        background-color: #f9f9f9;
        padding: 2px;
        border-radius: 5px;
        box-shadow: 0px 0px 14px -7px black;
  
        .user-photo {
          position: relative;

          img {
            width: 100%;
            // height: 9rem;
            border-top-right-radius: 5%;
            border-top-left-radius: 5%;
            object-fit: cover;
            border: none;
            display: block;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
          }
  
          .passing-year {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 0.8rem;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 5px;
            border-radius: 4px;
          }
        }
  
        .user-details {
          padding: 5px;
          text-decoration: none;
  
          .user-name {
            font-weight: bold;
            font-size: 15px;
            text-align: left;
            color: rgb(3, 84, 64);
          }
  
          .user-branch {
            font-style: italic;
            margin-top: 5px;
            text-align: left;
            display: none;
          }

          .user-specialty{
            text-align: right;
            font-size: 0.85rem;
            margin: 10% 0;
          }
  
          .user-links {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li{
              list-style: none;
            }
  
            a {
              margin-right: 10px;
              color: #000;
  
              &:hover {
                color: #007bff;
              }
            }
          }
        }
      }
    }
  }


Link{
  text-decoration: none;
}
  