.main-conatiner {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    background-color: #f1f1f1;
    height: 100vh;

    @media screen and (max-width: 600px) {
        padding: 0;
    }

    .left-panel {
        min-height: 600px;
        background: white;
        border-radius: 5px;
        margin-bottom: 50px;
        font-size: 14px;
        padding: 20px 30px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
        -ms-flex: 1;
        flex: 1;
        min-width: 0px;

        @media screen and (max-width: 600px) {
            padding: 0;
        }

        .header {
            border-bottom: 2px solid #eeeeee;

            .subheader {
                background: #fafafa;
                // padding: 0 20px;
                height: 40px;
                align-items: center;
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 600px) {
                    padding: 0 5px;
                }

                .subheader-left {
                    display: flex;
                    flex: 1 1 auto;

                    label {
                        height: 24px;
                        font-size: 12px;
                        color: rgb(55, 71, 79);
                        opacity: 1;
                        font-weight: 500;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        cursor: pointer;
                        transition: all 0.18s ease-in-out 0s;
                        outline: 0px;
                        padding: 0px 12px;

                        @media screen and (max-width: 600px) {
                            // padding-right: 10px;
                            padding-left: 0;
                        }
                    }

                    
                }

                .subheader-search-input {
                    width: 175px;
                    margin-right: 5px;
                    display: inline-block;
                    position: relative;

                    .input {
                        padding: 4.3px 8px;
                        font-size: 12px;
                        width: 100%;
                        box-sizing: border-box;
                        color: #546e7a;
                        border: 1px solid #cfd8dc;
                        border-radius: 3px;
                        font-weight: 300;
                        text-overflow: ellipsis;
                        transition: 0.4s all;
                    }
                }
                .subheader-search-button {
                    background: linear-gradient(215deg, #09acf7, #33464f);
                    color: #fafafa;
                    border-radius: 2px;
                    border: 0;
                    text-decoration: none;
                    cursor: pointer;
                    .btn-content-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px;

                        @media screen and (max-width: 600px) {
                            font-size: 12px;
                        }

                        i {
                            width: 14px;
                            height: 14px;
                            display: flex;
                            align-items: center;
                            fill: currentColor;
                            padding-left: 2px;
                        }
                    }
                }
            }
        }

        .topic-list-container {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;

            .topic-list-content {
                position: relative;

                div {
                    box-sizing: border-box;

                    .topic-item-container {
                        border-bottom: 1px solid #eeeeee;

                        &:hover {
                            background-color: #eef0f0;
                        }

                        .topic-item {
                            display: flex;
                            flex-direction: row;
                            height: 80px;
                            align-items: center;
                            justify-content: space-between;

                            

                            @media screen and (max-width: 600px) {
                                height: 55px;
                            }

                            .left-side{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                a{
                                    color: #9e9e9e;
                                    font-size: 12px;
                                    width: 40px;
                                    height: 40px;
                                    margin-left: 15px;
                                    margin-right: 20px;
    
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                    }
    
                                    @media screen and (max-width: 600px) {
                                        width: 20px;
                                        height: 20px;
                                        margin-right: 15px;
                                    }
                                }

                                .topic-title {
                                    cursor: pointer;
                                    // width: 600px;
    
                                    .item-header {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 4px;
                                        font-weight: 500;
    
                                        @media screen and (max-width: 600px) {
                                            font-size: 11px;
                                            margin-bottom: 0;
                                        }
                                    }
    
                                    .topic-info {
                                        color: #717171;
                                        font-size: 12px;
                                        white-space: nowrap;
                                        overflow: hidden;                                      
                                        text-overflow: ellipsis;
                                    }
                                }
                            }

                            

                            .upvote-view-container {
                                display: flex;

                                .upvotes,
                                .views {
                                    margin-left: 20px;
                                    display: flex;
                                    align-items: center;

                                    i {
                                        color: #bdbaba;
                                        width: 18px;
                                        height: 18px;
                                        margin-right: 7px;
                                        cursor: pointer;
                                    }

                                    .no-of-upvotes,
                                    .no-of-views {
                                        color: #455a64;
                                        width: 70px;
                                    }

                                    @media screen and (max-width: 600px) {
                                        display: block;
                                        margin-left: 0;

                                        i {
                                            margin-right: 0px;
                                        }

                                        .no-of-upvotes,
                                        .no-of-views {
                                            color: #455a64;
                                            width: 40px;
                                            font-size: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .right-panel {
        flex: 0 0 200px;
        margin-left: 35px;
    }
}
